---

---

<header class="bg-white/80 backdrop-blur-md shadow-md sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 py-5 flex justify-between items-center">
    
    <h1>
      <img src="/images/logo.png" alt="Café Amanecer" class="h-10" />
    </h1>

    <!-- Navegación -->
    <nav class="flex items-center space-x-6 text-sm">
      <a href="#" class="text-gray-700 hover:text-brown-600">MENU</a>
      <a href="#" class="text-gray-700 hover:text-brown-600">REWARDS</a>
      <a href="#" class="text-gray-700 hover:text-brown-600">TIENDAS</a>
    </nav>

    <!-- Botones -->
    <div class="space-x-3">
      <a
        href="#"
        class="px-4 py-2 text-sm font-medium border text-black rounded-3xl hover:bg-brown-100 transition"
      >
        Iniciar sesión
      </a>
      <a
        href="#"
        class="px-4 py-2 text-sm font-medium border text-white bg-black rounded-3xl hover:bg-brown-100 transition"
      >
        Registrarse
      </a>
    </div>
  </div>
</header>
