---

---
<br />
<section class="bg-[url('/images/image1.png')] bg-cover bg-center bg-no-repeat py-40 text-left text-white">
  <div class="max-w-4x2 mx-auto px-8">
    <h2 class="text-5xl font-bold mb-4">
      Descubre el sabor de <br /> nuestra Cafetería
    </h2>
    <p class="text-lg mb-6">
      En nuestra cafetería, cada taza de café es una experiencia única. <br />
      Ofrecemos una variedad de bebidas y deliciosos postres,<br /> perfectos para disfrutar en cualquier momento.
    </p>
    <div class="flex gap-4">
      <a href="#" class="bg-white text-black px-6 py-3 rounded-3xl hover:bg-gray-200">Explorar</a>
      <a href="#" class="bg-white text-black px-6 py-3 rounded-3xl hover:bg-gray-200">Contáctanos</a>
    </div>
  </div>
</section>
