---
---

<section class="w-full bg-white mb-5">
  <div class="grid md:grid-cols-2 items-center">
    <!-- Texto (Izquierda) -->
    <div class="p-8 md:p-16">
      <h2 class="text-4xl font-bold mb-6">
        Vive la experiencia del café como nunca antes
      </h2>
      <p class="text-lg text-gray-600 mb-6">
        Descubre nuestras variedades de café artesanal, cuidadosamente seleccionadas de los mejores granos. Un aroma único, un sabor inolvidable.
      </p>
      <a href="#" class="inline-block bg-black text-white px-6 py-3 rounded-full hover:bg-indigo-700 transition">
        Ver productos
      </a>
    </div>

    <!-- Imagen (Derecha) -->
    <div class="h-full w-full">
      <img
        src="/images/cafe-banner.png"
        alt="Imagen de café"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>
