---
---

<section class="py-16 bg-white">
      <div class="max-w-6xl mx-auto px-4">
        <h3 class="text-5xl font-bold text-center mb-8">
            Descubre nuestros productos mas </br> populares
        </h3>
        <p class="text-lg text-center mb-8">
            En nuestra cafetería, ofrecemos una variedad de delicias que encantan a todos. Desde cafes </br>
            artesanales hasta pasteles frescos, cada producto esta hecho con amor.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 text-center">
          <div class="border p-4 rounded shadow hover:shadow-lg">
            <img src="/images/cafe.png" alt=""> <!-- Imagen simulada -->
            <h4 class="text-xl font-semibold">Café Tradicional</h4>
            <p class="text-gray-600 text-sm mt-2">Aromático, intenso y con cuerpo.</p>
          </div>
          
          <div class="border p-4 rounded shadow hover:shadow-lg">
            <img src="/images/cafe.png" alt="">
            <h4 class="text-xl font-semibold">Café Orgánico</h4>
            <p class="text-gray-600 text-sm mt-2">Cultivado sin pesticidas ni químicos.</p>
          </div>
          <div class="border p-4 rounded shadow hover:shadow-lg">
            <img src="/images/cafe.png" alt="">
            <h4 class="text-xl font-semibold">Café Gourmet</h4>
            <p class="text-gray-600 text-sm mt-2">Seleccionado de los mejores granos.</p>
          </div>
        </div>
        <div class="mt-4 flex justify-center gap-4 sm:mt-6">
        <a
          class="inline-block rounded-3xl bg-black px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700"
          href="#"
        >
          Ver
        </a>

        <a
          class="inline-block rounded-3xl border-gray-200 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900 dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-white"
          href="#"
        >
          Ordenar >
        </a>
      </div>
      </div>
    </section>